.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display:flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
}

.add-button{
    border-radius: 50%;
    width: 50px;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3vh;
    right: 8vw;
    color: rgba(194, 194, 194, 0.5);
}


// start category tree
.category_ul{
    // every ul tag
    list-style-type: none;
    line-height: 30px;
    position: relative;
}

.category_li{
    // every li tag
    padding: 50px 0px 0px 40px;
    position: relative;
    &:before {
        // vertical dots
        content: "";
        position: absolute;
        top: 0px;
        left: -50px;
        border-left: 1px dotted #a2a5b5;
        width: 1px;
        height: 100%;
    }
    &:after {
        // horizontal dots
        content: "";
        position: absolute;
        border-top: 1px dotted #a2a5b5;
        top: 70px;
        left: -50px;
        width: 50px;
      }
    &:last-child:before {
        // vertical dots of last child
        top: -0px;
        height: 70px;
    }
    .inputAndLabel{
        // to keep label and input in one line
        display:flex;
        justify-content: flex-start;
        input[type="radio"]{
            // to hide default input circle
            opacity: 0;
        }
    }   
}
.category_input{
    // label tag
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(218, 218, 214) !important;
    list-style-type: none;
    width: auto;
    // margin-left for distance from horizontal dots
    margin-left:-30px;
    height: 40px;
    font-size: 12pt !important;    
    border-radius: 5%;
    &:hover{
        text-shadow: 0px 0px 10px #60ecbd;
        color: #d9f0ee;
    }
}
input[type="radio"]:checked+label{
    text-shadow: 0px 0px 10px #60ecbd;
    color: #d9f0ee;
    font-size: 14pt !important;
}

//      start to toggle showing ul

.caret{
    // the triangle thing (span)
    cursor: pointer;
    user-select: none;
    position: relative;
    position: absolute;
    top:55px;
    left: 0;
    width: 10px;
    height: 10px;
    &:before {
        position: absolute;
        top:0;
        left: 5px;
        content: "\25B6";
        color: #d9f0ee;
        display: inline-block;
        margin-right: 6px;
    }
    &:hover{
        transform: scale(1.19);
    }
}
.caret-down::before {
    transform: rotate(90deg);
    transition: 0.3s;
}


.nested{
    // to hide ul
    display: none;
}
.active{
    // to show ul
    display: block;
}
//      end to toggle showing ul

// end category tree



// start right click
#contextmenu{
    position:absolute;
    top:10px;
    left:10px;
    background: #fdfdfd;
    width: 250px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.05);
    border-radius:5px;
    transform: scale(0);
    transform-origin: top left;
    z-index: 1000;
}
#contextmenu.active{
    transform: scale(1);
    transition:transform 250ms ease-in-out;
}
#contextmenu .list{
    border-bottom: 1px solid #eee;
}
#contextmenu .list .item{
    position: relative;
    padding: 20px 15px 10px 15px;
    font-size:14px;
    color: #555;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(162, 165, 181, 0.3);
}
#contextmenu .list .item .material-icons{
    display: inline-block;
    width:20px;
    margin-right: 5px;
}

#contextmenu .list .item:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    background:#eee;
    z-index: -1;
    transition: all 150ms ease-in-out;
}
#contextmenu .list .item:hover:before{
    width: 100%;
}
// end right click

// delete form
.delete-form{
    display:flex;
    justify-content: center;
    i{
        position: absolute;
        bottom: 0;
        cursor: pointer;
        width: 30px;
        z-index: 1000;
    }
}

// end of delete form

.image-container{
    height: 40vh;
    width: 15vw;
    background-repeat: no-repeat;
    background-size: cover;

}