.contactinfo-container{
    // background:var(--primary-color);
    margin-top: 10vh !important;
    .contactInfo{
        color: var(--on-bg) !important;
        .title{
            margin-top:50px !important;
            font-size: 24pt !important;
        }
    }
}