.contactUsForm{
    direction: rtl;
    font-family: yekan-sans-serif;
    background: var(--main-bg);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 10px 20px;
    margin: 10px 0 20px;
    height:100vh;
    label{
        font-size:12pt;
    }
    .title{
        text-align: center;
        font-size:14pt;
        font-family: yekan-sans-serif;
    }
    .text{
        height:25vh;
    }
    .submit{
        text-align:end;
    }
}
// contact info
.contactInfo{
    height: 100vh;
    direction: ltr;
    font-family: yekan-sans-serif;
    color: var(--heder-font-color-light) !important;
    background: var(--main-bg);
    // رنگ بک گراند توی اباوت آس بزرگ رو پاک کن تا بشه اینم خوشگل بذاری
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 10px 20px;
    margin: 10px 0 40px;
    color: var(--on-bg) !important;
    @media all and (max-width: 500px){
        height: 75vh;
    }
    .title{
        text-align: center;
        font-size:14pt;
        background: transparent !important;
        font-family: yekan-sans-serif;
    }
    label{
        font-size:12pt;
    }
    p{
        text-align: end;
        font-size: 14pt;
        background:rgba(128, 127, 127, 0.2);
        padding-right: 10px;
    }
}
.contactEnglish{
    text-transform: capitalize;
    font-family:sourceSansProLight;
    direction: ltr !important;
    .title{
        text-transform: capitalize;
        font-family:sourceSansProLight;
    }
    .submit{
        text-transform: capitalize;
        .button5{
            text-transform: capitalize !important;
            font-family:sourceSansProLight !important;
            font-size: 14pt !important;
            font-weight: 600 !important;
        }
    }
}
textarea:focus, input:focus {
    color: #161616;
    font-size: 12pt;
}