.manager-container{
    width:98% !important;
    padding-bottom: 200px;
    background: rgba(234, 227, 227, 0.9) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
    border: 1px solid rgba(234, 227, 227, 0.31);
    margin: 20px auto;
    .row{
        display:flex;
        justify-content:space-evenly;
        margin-top:50px;
        padding: 30px 15px 10px;
        .card{
            width:200px !important;
            height:200px;
            text-align:center;
            font-family: yekan-sans-serif;
            .more{
                text-decoration: none;
                font-size: 14pt;
                color: var(--on-primary-color);
            }
            .img-container{
                height:200px;
                width: 200px;
                border-radius: 50%;
                overflow: hidden;
                .card-img-top{
                    width:200px;    
                }
            }
            .card-title{
                font-size: 14pt;
            }
            .card-text{
                font-size: 12pt;
            }
    
        }
    }
    @media not all and (min-width: 850px) {
        padding-bottom: 50px;
        .row{
            flex-direction: column !important;
            .card{
                margin:auto;
                margin-bottom: 150px !important;
            }
        }
    }
}