.father-container{
    position:relative;
    width: 100%;
    height: 6vh;
    margin-top: 50px;
    background: rgba(81, 145, 131, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(81, 145, 131, 0.3);
    .row{
        position:absolute;
        margin:0;
        padding:0;
        right: 0;
        padding:0 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        flex-wrap: wrap;
        font-family: yekan-sans-serif;
        direction:ltr;
        @media not all and (min-width: 1000px) {
          width: 100%;
        }
        a{
            text-decoration: none;
            color:var(--on-primary-color);
            &:hover{
                color:var(--on-primary-variant);
            }
            h5{
                font-size:12pt !important;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
    @media not all and (min-width: 800px) {
        height:8vh;
        padding-top: 20px;
    }
    @media not all and (min-width: 700px) {
        overflow:auto;
    }
    .mySwiper {
        height: 10%;
        box-sizing: border-box;
        padding: 10px 0;
        background:white;
        position:absolute;
        bottom:-11vh;
        background: rgba(37, 50, 55, 0.562);
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(37, 50, 55, 1);
        .swiper-slide {
          margin:0 auto !important;
          width: auto;
          img{
            opacity: 0.4;
          }
        }
        .swiper-slide-thumb-active {
          img{
            opacity: 1;
          }
        }
      }
      .mySwiper2 {
        margin-top: 5vh;
        height: 80%;
        width: 100%;
      }
}