.father-container{
    position:relative;
    width: 100%;
    height: 6vh;
    margin-top: 50px;
    background: rgba(81, 145, 131, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(81, 145, 131, 0.3);
    direction:rtl;
    .row{
        position:absolute;
        margin:0;
        padding:0;
        right: 0;
        padding:0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: yekan-sans-serif;
        h5{
            font-size:12pt !important;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    @media not all and (min-width: 800px) {
        height:8vh;
        padding-top: 20px;
    }
    @media not all and (min-width: 700px) {
        overflow:auto;
    }
}