.one-item-container{
    margin:0 !important;
    padding:0 !important;
    .row1{
      width:100% !important;
      height:90vh !important;
      margin:0 !important;
      padding:0 !important;
      display:flex;
      flex-direction: row;
      .img-container{
          position:relative;
          height: 100% !important;
          background:rgba(30, 43, 48, 0.9);
          text-align: center;
          display:flex;
          flex-direction: column;
      }
      .details-container{
        width: 100%;
        height: 100%;
        background:rgba(42, 71, 65, 1);
        .details{
          width: 90%;
          height: 90%;
          background: rgba(81, 145, 131, 1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(81, 145, 131, 0.3);
          border-radius: 8px;
          margin: 5vh auto;
          direction: rtl;
          font-family: yekan-sans-serif;
          .main-title{
            font-size: 14pt;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
          }
          .detail{
            padding-right: 90px;
            display:flex;
            flex-direction: row;
            margin-bottom: 20px;
            justify-content: space-between;
            .title{
              font-size: 12pt;
              margin-left: 20px;
              margin-top: 5px;
            }
            .value{
              font-size: 16pt;
              margin-left: 20px;
            }
            .listvalue{
              margin-left: -18px;
              list-style-type: none;
              direction: ltr;
              li{
                font-size: 14pt;
              }
            }
          }
        }
      }
      // on row
      @media not all and (min-width: 1000px) {
        flex-direction: column;
        height: auto !important;
        .img-container{
         height: 65vh !important;
         padding-bottom: 30px;
         img{
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
         }
        }
        .details-container{
          height: auto !important;
          padding-bottom: 30px;
        }
      }
    }
    .row2{
      width:100% !important;
      height:auto !important;
      margin:0;
      padding:0;
      .description-containrt{
        width: 100%;
        height:100%;
        padding-bottom: 30px;
        background:white;
        .title{
          font-family: yekan-sans-serif;
          font-size: 20pt;
          direction:rtl;
          padding:20px 50px 0px 0px;
        }
        .description{
          width: 90% !important;
          height:90% !important;
          background: rgba(255, 255, 255, 0.56);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3);

          margin: 0 auto;
          padding: 30px 35px;
        }
      }
    }
  }
.swiper-slide {
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .no-image{
    width:100%;
    height:100%;  
    padding-top: 33%;
    color:white;
  }
}
.mySwiper {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  background:white;
  position:absolute;
  bottom:-11vh;
  background: rgba(37, 50, 55, 0.562);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(37, 50, 55, 1);
  .swiper-slide {
    margin:0 auto !important;
    width: auto;
    img{
      opacity: 0.4;
    }
  }
  .swiper-slide-thumb-active {
    img{
      opacity: 1;
    }
  }
}
.mySwiper2 {
  margin-top: 5vh;
  height: 80%;
  width: 100%;
}