.gallery-container{
    margin: 0;
    padding: 0;
    .galleryPageSwiper{
        width: 80%;
        border-radius: 6px;
        background: rgba(255, 255, 255 , 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        .swiper-wrapper{
            margin: 20px 0px;
            padding: 20px 0px;
            .swiper-slide{
                height: 360px !important;
            }
        }
    }
}

.ThisSwiper{
    width: 70%;
    background-color:transparent !important;
    .swiper-button-next{
        color: #00B5A5;
    }
    .swiper-button-prev{
        color: #00B5A5;
    }
    @media all and (max-width:750px){
        margin-top: -20vh;
    }
}