.submit{
    position: relative;
    .button5{
        position: absolute;
        width: 80%;
        height: 40px;
        left:0;
        right:0;
        top: 5vh;
        margin: 0 auto;
        border: 0px;
        border-radius: 5px;
        font-family: yekan-sans-serif;
        font-size: 15pt;
        &:hover{
            opacity:0.9;
        }
        background:rgba(0, 0, 0, 0.199);
        @media (prefers-color-scheme: dark) {
            background-color:#080808;
        }
    }
}