.footer{
    width: 100% !important;
    min-height: 70vh;
    height: auto;
    padding: 0 !important;
    background-color: var(--primary-color);
    background-image: linear-gradient(45deg, var(--primary-color), var(--primary-variant));
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: changeColor 2s linear infinite alternate;
    @keyframes changeColor {
        to { filter: hue-rotate(60deg); }
    }
    @media all and (max-width: 750px){
        flex-direction: column;
    }
    .arrow{
        position: relative;
        width: 100% !important;
        height:75px ;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .right-side{
        position:relative;
        direction: rtl;
        width: 33%;
        @media all and (max-width: 750px){
            width: 100%;
            margin-bottom: 35px;
        }
    }
    .middle{
        direction: rtl;
        width: 33%;
        @media all and (max-width: 750px){
            width: 100%;
            margin-bottom: 35px;
        }
    }
    .left-side{
        direction: rtl;
        width: 33%;
        .location_fa{
            position: relative;
            .link{
                margin: auto;
                width: 95% !important;
                @media all and (max-width: 750px){
                    width: 100%;
                }
            }
        }
        @media all and (max-width: 750px){
            width: 100%;
            margin-bottom: 35px;
        }
    }
    .list-title{
        font-family: yekan-sans-serif;
        font-size: 16pt;
        padding: 0px 20px;
        margin-top: -90px;
        @media all and (max-width: 750px){
            margin-top: 0px;
        }
        p{
            border-bottom: 1px solid var(--on-primary-color);
            padding-bottom: 10px;
            width: 75%;
            color: var(--on-primary-color);
        }
    }
    .list{
        font-family: yekan-sans-serif;
        font-size: 14pt;
        ul{
            list-style-type: none;
            li{
                line-height: 30px;
                a{
                    text-decoration: none;
                    color: var(--on-primary-color);
                }
            }
        }
    }
}
.EngFooter{
    .right-side{
        direction: ltr !important;
    }
    .middle{
        direction: ltr !important;
    }
    .left-side{
        padding-left: 50px !important;
        direction: ltr !important;
    }
}