.swiper {
    width: 80% !important;
    margin-top: -32vh;
    margin-bottom: 22vh !important;
    padding-top: 50px;
    padding-bottom: 0px;
    overflow: hidden;
    padding:0;
    @media not all and (min-width: 1000px) {
        width: 100% !important;
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bd-highlight {
    height: 100% !important;
    width: 100% !important;
}
.swiper-slide img {
    margin:auto;
    max-width: 90% !important;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-slide video {
    height: 100% !important;
    display: block;
    margin:auto;
}

// media less than 1000px these two should get out of picture
@media not all and (min-width: 1000px) {
    .swiper-button-next{
        margin-right: -8px !important;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        
    }
    .swiper-button-prev{
        margin-left: -8px !important;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}