:root{
    --primary-color: rgb(54, 94, 91);
    --primary-variant: #2f4858;
    --secondary-color: #00e5b0;
    --secondary-variant: #59a288;
    --on-primary-color: #2e2c36;
    --on-primary-variant: #faf7ff;
}
@font-face {
    font-family: yekan-sans-serif;
    src: url('./../../fonts/YEKAN\ PLUS.TTF');
}
@font-face {
    font-family: darya;
    src: url('./../../fonts/darya.ttf');
}
@font-face {
    font-family: kian;
    src: url('./../../fonts/kian.ttf');
}
@font-face {
    font-family: dast-nevis;
    src: url('./../../fonts/Far_DastNevis.otf');
}
@font-face {
    font-family: koodak-bold;
    src: url('./../../fonts/B\ Koodak\ Bold.ttf');
}
@font-face {
    font-family: koodak-outline;
    src: url('../../fonts/B\ Koodak\ Outline.ttf');
}
@font-face {
    font-family: overcameBlack;
    src: url('../../fonts/OvercameDemoBold-1Gzxe.ttf');
}
@font-face {
    font-family: overcameWhite;
    src: url('../../fonts/OvercameDemoOutline-8MyG2.ttf');
}
@font-face {
    font-family: sourceSansPro;
    src: url('./../../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: sourceSansProLight;
    src: url('./../../fonts/SourceSansPro-Light.ttf');
}