:root{
    --primary-color: #354f90;
    --on-primary-color: #faf7ff;
    --primary-variant: #102B5C;
    --main-bg:#FAFAFA;
    --secondary-color: #FFB300;
    --on-bg: #2b2a2a;
    --green: #4a6c61;
}
@font-face {
    font-family: yekan-sans-serif;
    src: url('./../../fonts/YEKAN\ PLUS.TTF');
}
@font-face {
    font-family: sourceSansPro;
    src: url('./../../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: sourceSansProLight;
    src: url('./../../fonts/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: Lato-regular;
    src: url('./../../fonts/Lato-Regular.ttf');
}

.heading1{
    font-size: 67px;
    line-height: 1.75rem;
}
.heading2{
    font-size: 50px;
    line-height: 1.75rem;
}
.heading3{
    font-size: 37px;
    line-height: 1.75rem;
}
.heading4{
    font-size: 28px;
    line-height: 1.75rem;
}
.heading5{
    font-size: 18px;
    line-height: 1.75rem;
}
.regular-font{
    font-size: 16px;
}
.sub-title-font{
    font-size: 12px;
}