.aboutus-container {
  width: 100% !important;
  padding: 20px 40px !important;
  margin-top: -50px;
  margin-bottom: 50px;
  background-color: var(--aboutus-short-dark);
  opacity: 0.9;
  background-size: cover;
  height: auto;
}

.aboutus-container .title {
  text-align: center;
  font-family: yekan-sans-serif;
  font-size: 20pt;
  margin-bottom: 30px;
  color: #f2ecff;
}

.aboutus-container .wrapper {
  height: auto !important;
  min-height: 100px;
  -webkit-columns: auto 20em;
          columns: auto 20em;
  direction: rtl;
  margin-bottom: 50px;
}

.aboutus-container .wrapper #history_fa {
  position: relative;
  color: var(--on-primary-variant) !important;
  padding: 1em 0.5em 1em;
  line-height: 5px;
}

.aboutus-container .button-container {
  margin-top: 0px;
  margin-bottom: 10px;
}

:root {
  --primary-color: rgb(54, 94, 91);
  --primary-variant: #CBBCF5;
  --secondary-color: #00e5b0;
  --secondary-variant: #59a288;
  --on-primary-color: #2e2c36;
  --on-primary-variant: #faf7ff;
  --heder-font-color-dark: #f1f1e6;
  --heder-font-color-light: #292828;
  --main-bg-dark: #212121;
  --main-bg-light:#FAFAFA;
  --items-bg-dark: #324b4c;
  --items-bg-light: #99b0a8;
  --aboutus-short-dark: #243F79;
  --contact-bg-light: #d1cece9d;
  --contact-bg-dark: #ffffff1a;
}

@font-face {
  font-family: yekan-sans-serif;
  src: url("./../../fonts/YEKAN PLUS.TTF");
}

@font-face {
  font-family: darya;
  src: url("./../../fonts/darya.ttf");
}

@font-face {
  font-family: kian;
  src: url("./../../fonts/kian.ttf");
}

@font-face {
  font-family: dast-nevis;
  src: url("./../../fonts/Far_DastNevis.otf");
}

@font-face {
  font-family: koodak-bold;
  src: url("./../../fonts/B Koodak Bold.ttf");
}

@font-face {
  font-family: koodak-outline;
  src: url("../../fonts/B Koodak Outline.ttf");
}

@font-face {
  font-family: overcameBlack;
  src: url("../../fonts/OvercameDemoBold-1Gzxe.ttf");
}

@font-face {
  font-family: overcameWhite;
  src: url("../../fonts/OvercameDemoOutline-8MyG2.ttf");
}

@font-face {
  font-family: sourceSansPro;
  src: url("./../../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: sourceSansProLight;
  src: url("./../../fonts/SourceSansPro-Light.ttf");
}

.heading1 {
  font-size: 67px;
  line-height: 1.75rem;
}

.heading2 {
  font-size: 50px;
  line-height: 1.75rem;
}

.heading3 {
  font-size: 37px;
  line-height: 1.75rem;
}

.heading4 {
  font-size: 28px;
  line-height: 1.75rem;
}

.heading5 {
  font-size: 18px;
  line-height: 1.75rem;
}

.regular-font {
  font-size: 16px;
}

.sub-title-font {
  font-size: 12px;
}

.contactinfo-container {
  background: rgba(47, 72, 88, 0.9);
}

.contactinfo-container .contactInfo .title {
  margin-top: 50px !important;
  font-size: 24pt !important;
}

.aboutus {
  position: relative;
}

.aboutus .aboutus-big-container {
  width: 100% !important;
  padding: 20px 40px !important;
  height: auto;
  position: absolute;
  top: 50px;
}

.aboutus .aboutus-big-container .title {
  text-align: center;
  font-family: yekan-sans-serif;
  font-size: 24pt;
  margin-bottom: 30px;
  color: #f2ecff;
}

.aboutus .aboutus-big-container .wrapper {
  height: auto !important;
  min-height: 100px;
  -webkit-columns: auto 20em;
          columns: auto 20em;
  direction: rtl;
  margin-bottom: 50px;
  color: var(--on-primary-variant);
}

.aboutus .aboutus-big-container .wrapper #history_fa {
  position: relative;
  padding: 1em 0.5em 1em;
  line-height: 5px;
}

.aboutus .aboutus-big-container .button-container {
  margin-top: 0px;
  margin-bottom: 10px;
}

.aboutus .aboutus-img-container {
  height: 100vh;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutus .aboutus-img-container .bg {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  width: 100% !important;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media not all and (min-width: 1050px) {
  .aboutus .aboutus-img-container {
    display: none;
  }
  .aboutus .aboutus-big-container {
    position: relative;
    background-color: var(--primary-color);
    margin-bottom: 100px;
  }
}

.manager-container {
  width: 98% !important;
  padding-bottom: 200px;
  background: rgba(234, 227, 227, 0.9) !important;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(234, 227, 227, 0.31);
  margin: 20px auto;
}

.manager-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  padding: 30px 15px 10px;
}

.manager-container .row .card {
  width: 200px !important;
  height: 200px;
  text-align: center;
  font-family: yekan-sans-serif;
}

.manager-container .row .card .more {
  text-decoration: none;
  font-size: 14pt;
  color: var(--on-primary-color);
}

.manager-container .row .card .img-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.manager-container .row .card .img-container .card-img-top {
  width: 200px;
}

.manager-container .row .card .card-title {
  font-size: 14pt;
}

.manager-container .row .card .card-text {
  font-size: 12pt;
}

@media not all and (min-width: 850px) {
  .manager-container {
    padding-bottom: 50px;
  }
  .manager-container .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .manager-container .row .card {
    margin: auto;
    margin-bottom: 150px !important;
  }
}

.oneManager-container {
  width: 98%;
  background: rgba(234, 227, 227, 0.9);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(234, 227, 227, 0.31);
  margin: 120px auto 20px;
}

.oneManager-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  padding: 50px 15px 10px;
}

.oneManager-container .row .card {
  position: relative;
  width: 100% !important;
  height: auto;
  text-align: center;
  font-family: yekan-sans-serif;
}

.oneManager-container .row .card .img-container {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.oneManager-container .row .card .img-container .card-img-top {
  width: 200px;
}

.oneManager-container .row .card .card-title {
  font-size: 16pt;
}

.oneManager-container .row .card .card-text {
  font-size: 12pt;
}

.oneManager-container .row .card .caption-container {
  width: 100%;
  height: auto;
  padding: 10px 30px 0;
  font-size: 14pt;
}

.swiper {
  width: 80% !important;
  margin-top: -32vh;
  margin-bottom: 22vh !important;
  padding-top: 50px;
  padding-bottom: 0px;
  overflow: hidden;
  padding: 0;
}

@media not all and (min-width: 1000px) {
  .swiper {
    width: 100% !important;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.bd-highlight {
  height: 100% !important;
  width: 100% !important;
}

.swiper-slide img {
  margin: auto;
  max-width: 90% !important;
  max-height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper-slide video {
  height: 100% !important;
  display: block;
  margin: auto;
}

@media not all and (min-width: 1000px) {
  .swiper-button-next {
    margin-right: -8px !important;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .swiper-button-prev {
    margin-left: -8px !important;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.footer {
  width: 100% !important;
  min-height: 70vh;
  height: auto;
  padding: 0 !important;
  background-color: #354f90;
  background-image: linear-gradient(45deg, #354f90 0%, #4969aa 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 750px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .arrow {
  position: relative;
  width: 100% !important;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .right-side {
  position: relative;
  direction: rtl;
  width: 33%;
}

@media all and (max-width: 750px) {
  .footer .right-side {
    width: 100%;
    margin-bottom: 35px;
  }
}

.footer .middle {
  direction: rtl;
  width: 33%;
}

@media all and (max-width: 750px) {
  .footer .middle {
    width: 100%;
    margin-bottom: 35px;
  }
}

.footer .left-side {
  direction: rtl;
  width: 33%;
}

.footer .left-side .location_fa {
  position: relative;
}

.footer .left-side .location_fa .link {
  margin: auto;
  width: 95% !important;
}

@media all and (max-width: 750px) {
  .footer .left-side .location_fa .link {
    width: 100%;
  }
}

@media all and (max-width: 750px) {
  .footer .left-side {
    width: 100%;
    margin-bottom: 35px;
  }
}

.footer .list-title {
  font-family: yekan-sans-serif;
  font-size: 16pt;
  padding: 0px 20px;
  margin-top: -90px;
}

@media all and (max-width: 750px) {
  .footer .list-title {
    margin-top: 0px;
  }
}

.footer .list-title p {
  border-bottom: 1px solid var(--on-primary-variant);
  padding-bottom: 10px;
  width: 75%;
  color: var(--on-primary-variant);
}

.footer .list {
  font-family: yekan-sans-serif;
  font-size: 14pt;
}

.footer .list ul {
  list-style-type: none;
}

.footer .list ul li {
  line-height: 30px;
}

.footer .list ul li a {
  text-decoration: none;
  color: var(--on-primary-variant);
}

.button-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-container .EnglishBtn {
  font-family: sourceSansPro !important;
}

.button-container .button {
  position: relative;
  padding: 12px 25px;
  border: 2px solid var(--on-primary-variant);
  text-transform: uppercase;
  font-size: 16pt;
  text-decoration: none;
  color: var(--on-primary-variant);
  font-family: yekan-sans-serif;
}

.button-container .button:hover {
  color: var(--on-primary-variant);
}

.button-container .button::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -4px;
  width: calc(100% + 15px);
  height: calc(100% - 20px);
  background-color: var(--aboutus-short-dark);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button-container .button:hover::before {
  background: var(--aboutus-short-dark);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button-container .button::after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  height: calc(100% + 7px);
  width: calc(100% - 20px);
  background-color: var(--aboutus-short-dark);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-container .button:hover::after {
  background: var(--aboutus-short-dark);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button-container .button span {
  position: relative;
  z-index: 30;
}

.button-container-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-container-2 .EnglishBtn2 {
  font-family: sourceSansPro !important;
}

.button-container-2 .button {
  position: relative;
  padding: 12px 25px;
  border: 2px solid var(--on-primary-variant);
  text-transform: uppercase;
  font-size: 16pt;
  text-decoration: none;
  color: var(--on-primary-variant);
  font-family: yekan-sans-serif;
}

.button-container-2 .button:hover {
  color: var(--on-primary-variant);
}

.button-container-2 .button::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -4px;
  width: calc(100% + 15px);
  height: calc(100% - 20px);
  background-color: #99B0A8;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.button-container-2 .button:hover::before {
  background: #99B0A8;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button-container-2 .button::after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  height: calc(100% + 7px);
  width: calc(100% - 20px);
  background-color: #99B0A8;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-container-2 .button:hover::after {
  background: #99B0A8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button-container-2 .button span {
  position: relative;
  z-index: 30;
}

.button-3 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: var(--on-primary-color);
  cursor: pointer;
}

.button-3:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  text-decoration: none;
  color: var(--on-primary-color);
}

.button-4-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.button-4-container .EnglishBtn {
  font-family: sourceSansPro !important;
}

.button-4-container .button {
  position: relative;
  padding: 12px 25px;
  border: 2px solid var(--on-primary-color);
  text-transform: uppercase;
  font-size: 16pt;
  text-decoration: none;
  color: var(--on-primary-color);
  font-family: yekan-sans-serif;
}

.button-4-container .button:hover {
  color: var(--on-primary-color);
}

.button-4-container .button::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -4px;
  width: calc(100% + 15px);
  height: calc(100% - 20px);
  background: var(--main-bg-light);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button-4-container .button:hover::before {
  background: var(--main-bg-light);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button-4-container .button::after {
  content: '';
  position: absolute;
  left: 10px;
  top: -4px;
  height: calc(100% + 7px);
  width: calc(100% - 20px);
  background: var(--main-bg-light);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-4-container .button:hover::after {
  background: var(--main-bg-light);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button-4-container .button span {
  position: relative;
  z-index: 30;
}

.submit {
  position: relative;
}

.submit .button5 {
  position: absolute;
  width: 80%;
  height: 40px;
  left: 0;
  right: 0;
  top: 5vh;
  margin: 0 auto;
  border: 0px;
  border-radius: 5px;
  font-family: yekan-sans-serif;
  font-size: 15pt;
  background: #5F7FD3;
  color: white;
}

.submit .button5:hover {
  opacity: 0.9;
}

@media (prefers-color-scheme: dark) {
  .submit .button5 {
    background-color: #080808;
  }
}

:root {
  --primary-color: rgb(54, 94, 91);
  --primary-variant: #CBBCF5;
  --secondary-color: #00e5b0;
  --secondary-variant: #59a288;
  --on-primary-color: #2e2c36;
  --on-primary-variant: #faf7ff;
  --heder-font-color-dark: #f1f1e6;
  --heder-font-color-light: #292828;
  --main-bg-dark: #212121;
  --main-bg-light:#FAFAFA;
  --items-bg-dark: #324b4c;
  --items-bg-light: #99b0a8;
  --aboutus-short-dark: #243F79;
  --contact-bg-light: #d1cece9d;
  --contact-bg-dark: #ffffff1a;
}

@font-face {
  font-family: yekan-sans-serif;
  src: url("./../../fonts/YEKAN PLUS.TTF");
}

@font-face {
  font-family: darya;
  src: url("./../../fonts/darya.ttf");
}

@font-face {
  font-family: kian;
  src: url("./../../fonts/kian.ttf");
}

@font-face {
  font-family: dast-nevis;
  src: url("./../../fonts/Far_DastNevis.otf");
}

@font-face {
  font-family: koodak-bold;
  src: url("./../../fonts/B Koodak Bold.ttf");
}

@font-face {
  font-family: koodak-outline;
  src: url("../../fonts/B Koodak Outline.ttf");
}

@font-face {
  font-family: overcameBlack;
  src: url("../../fonts/OvercameDemoBold-1Gzxe.ttf");
}

@font-face {
  font-family: overcameWhite;
  src: url("../../fonts/OvercameDemoOutline-8MyG2.ttf");
}

@font-face {
  font-family: sourceSansPro;
  src: url("./../../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: sourceSansProLight;
  src: url("./../../fonts/SourceSansPro-Light.ttf");
}

.heading1 {
  font-size: 67px;
  line-height: 1.75rem;
}

.heading2 {
  font-size: 50px;
  line-height: 1.75rem;
}

.heading3 {
  font-size: 37px;
  line-height: 1.75rem;
}

.heading4 {
  font-size: 28px;
  line-height: 1.75rem;
}

.heading5 {
  font-size: 18px;
  line-height: 1.75rem;
}

.regular-font {
  font-size: 16px;
}

.sub-title-font {
  font-size: 12px;
}

.indexHeader {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  overflow: hidden;
}

@media only all and (min-width: 950px) {
  .indexHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    -webkit-transform: scaleX(1.4);
            transform: scaleX(1.4);
    z-index: 1;
    background-color: #354f90;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#102B5C), to(#354f90));
    background-image: linear-gradient(180deg, #102B5C 0%, #354f90 100%);
  }
}

@media only all and (min-width: 950px) and (prefers-color-scheme: dark) {
  .indexHeader::before {
    background: #eafef725 !important;
  }
}

@media only all and (max-width: 950px) and (min-width: 200px) {
  .indexHeader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0 0 35% 35%/ 0 0 80% 10%;
    -webkit-transform: scaleX(1.4);
            transform: scaleX(1.4);
    z-index: 1;
    background-color: #354f90;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#354f90), to(#4969aa));
    background-image: linear-gradient(180deg, #354f90 0%, #4969aa 100%);
  }
}

@media only all and (max-width: 950px) and (min-width: 200px) and (prefers-color-scheme: dark) {
  .indexHeader::before {
    background: #eafef725 !important;
  }
}

@media not all and (min-width: 750px) {
  .indexHeader {
    height: 25vh !important;
  }
}

.CompanyNameIndex {
  padding-top: 26vh !important;
}

.CompanyName {
  position: relative;
  text-align: center;
  padding-top: 18vh;
  font-family: yekan-sans-serif;
  font-size: 80px;
  line-height: 1.75rem;
  z-index: 2;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .CompanyName {
    color: var(--heder-font-color-dark);
  }
}

@media not all and (min-width: 750px) {
  .CompanyName {
    font-size: 32pt !important;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.CompanyDescription {
  position: relative;
  padding-top: 8vh;
  text-align: center;
  font-family: yekan-sans-serif;
  font-size: 24px;
  z-index: 2;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .CompanyDescription {
    color: var(--heder-font-color-dark);
  }
}

@media not all and (min-width: 750px) {
  .CompanyDescription {
    font-size: 12pt !important;
    position: absolute;
    top: 170px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.EnglishHeader .CompanyName {
  font-family: overcameBlack !important;
  letter-spacing: 2px;
  line-height: 50px !important;
  font-size: 70px;
}

.EnglishHeader .CompanyDescription {
  font-family: overcameBlack !important;
  letter-spacing: 2px;
  font-size: 24px;
}

.indexPageHeader {
  height: 100vh !important;
}

@media all and (max-width: 750px) {
  .indexPageHeader {
    height: 70vh !important;
  }
}

@media all and (max-width: 500px) {
  .indexPageHeader {
    height: 65vh !important;
  }
}

.blogs-timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  color: var(--on-primary-color) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blogs-timeline ul {
  margin: 0;
  padding: 0;
}

.blogs-timeline ul li {
  list-style: none;
  position: relative;
  width: 100%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  text-align: right;
  clear: both;
}

.blogs-timeline ul li .bg-area {
  padding: 20px 40px;
  background: white;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 13px;
}

.blogs-timeline ul li .time {
  position: absolute;
  bottom: 30px;
  left: 50px;
  background: #e92163;
  color: #fff;
  padding: 5px 16px 0px;
  border-radius: 25px;
}

.blogs-timeline ul li .time h4 {
  font-size: 12pt;
}

.blogs-timeline .content {
  padding-bottom: 20px;
}

.blogs-timeline .content h3 {
  font-family: yekan-sans-serif;
  color: #e92163;
}

@media (min-width: 900px) {
  .blogs-timeline {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .blogs-timeline {
    width: 100%;
  }
}

.allBlogs ul li .bg-area {
  padding: 10px 20px;
  background: white;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 13px;
}

.oneblog-container {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.oneblog-container .blog-text {
  background-color: yellow;
  width: 95%;
  margin: 4vh 0;
  padding: 4vh 2vw;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.26);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gallery-container {
  margin: 0;
  padding: 0;
}

.gallery-container .galleryPageSwiper {
  width: 80%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gallery-container .galleryPageSwiper .swiper-wrapper {
  margin: 20px 0px;
  padding: 20px 0px;
}

.gallery-container .galleryPageSwiper .swiper-wrapper .swiper-slide {
  height: 360px !important;
}

.ThisSwiper {
  width: 70%;
  background-color: transparent !important;
}

.ThisSwiper .swiper-button-next {
  color: #00B5A5;
}

.ThisSwiper .swiper-button-prev {
  color: #00B5A5;
}

@media all and (max-width: 750px) {
  .ThisSwiper {
    margin-top: -20vh;
  }
}

.items-container {
  height: auto;
  width: 100%;
  margin: 15vh 0 5vh;
  position: relative;
  background: var(--items-bg-light) !important;
}

@media (prefers-color-scheme: dark) {
  .items-container {
    background: var(--items-bg-dark) !important;
  }
}

.items-container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.items-container .row1 .card {
  position: relative;
  height: 470px;
  min-width: 250px !important;
  border-radius: 15px;
  margin: 30px auto;
  background-color: whitesmoke;
  padding: 20px 30px;
  -webkit-box-shadow: 0 4px 30px rgba(248, 245, 245, 0.15);
          box-shadow: 0 4px 30px rgba(248, 245, 245, 0.15);
}

.items-container .row1 .card .item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #aca8a8;
  background-size: cover;
  background-repeat: no-repeat;
}

.items-container .row1 .card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 10px;
}

.items-container .row1 .card .card-body .card-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: yekan-sans-serif;
  font-size: 12pt;
}

.items-container .row1 .card .card-body .link {
  background-color: #5F7FD3;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.items-container .row1 .card .card-body .link:hover {
  background-color: #2d447c;
}

.items-container .row1 .card .card-body .link span {
  color: white;
  font-family: yekan-sans-serif;
  font-size: 12pt;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.items-container .row1 .card .card-body .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  height: 20px;
  margin-bottom: 20px;
  font-family: yekan-sans-serif;
  font-size: 12pt;
}

.items-container .row2 {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.items-container .row2 .more {
  height: 40px;
  width: 150px;
  font-family: yekan-sans-serif;
  font-size: 16pt;
  border: 1px solid #354f90;
  background: #354f90;
}

.EnglishItemCard .card-title {
  font-family: sourceSansProLight !important;
}

.EnglishItemCard .link {
  padding-top: 25px !important;
}

.EnglishItemCard .link span {
  font-family: sourceSansProLight !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
}

.EnglishItemCard .info-container {
  font-family: sourceSansProLight !important;
}

.father-container {
  position: relative;
  width: 100%;
  height: 6vh;
  margin-top: 50px;
  background: rgba(81, 145, 131, 0.9);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(81, 145, 131, 0.3);
}

.father-container .row {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: yekan-sans-serif;
  direction: ltr;
}

@media not all and (min-width: 1000px) {
  .father-container .row {
    width: 100%;
  }
}

.father-container .row a {
  text-decoration: none;
  color: var(--on-primary-color);
}

.father-container .row a:hover {
  color: var(--on-primary-variant);
}

.father-container .row a h5 {
  font-size: 12pt !important;
  margin-left: 15px;
  margin-right: 15px;
}

@media not all and (min-width: 800px) {
  .father-container {
    height: 8vh;
    padding-top: 20px;
  }
}

@media not all and (min-width: 700px) {
  .father-container {
    overflow: auto;
  }
}

.father-container .mySwiper {
  height: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  background: white;
  position: absolute;
  bottom: -11vh;
  background: rgba(37, 50, 55, 0.562);
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #253237;
}

.father-container .mySwiper .swiper-slide {
  margin: 0 auto !important;
  width: auto;
}

.father-container .mySwiper .swiper-slide img {
  opacity: 0.4;
}

.father-container .mySwiper .swiper-slide-thumb-active img {
  opacity: 1;
}

.father-container .mySwiper2 {
  margin-top: 5vh;
  height: 80%;
  width: 100%;
}

.one-item-container {
  margin: 0 !important;
  padding: 0 !important;
}

.one-item-container .row1 {
  width: 100% !important;
  height: 90vh !important;
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.one-item-container .row1 .img-container {
  position: relative;
  height: 100% !important;
  background: rgba(30, 43, 48, 0.9);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.one-item-container .row1 .details-container {
  width: 100%;
  height: 100%;
  background: #2a4741;
}

.one-item-container .row1 .details-container .details {
  width: 90%;
  height: 90%;
  background: #519183;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(81, 145, 131, 0.3);
  border-radius: 8px;
  margin: 5vh auto;
  direction: rtl;
  font-family: yekan-sans-serif;
}

.one-item-container .row1 .details-container .details .main-title {
  font-size: 14pt;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.one-item-container .row1 .details-container .details .detail {
  padding-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one-item-container .row1 .details-container .details .detail .title {
  font-size: 12pt;
  margin-left: 20px;
  margin-top: 5px;
}

.one-item-container .row1 .details-container .details .detail .value {
  font-size: 14pt;
  margin-top: 5px;
  margin-left: 20px;
}

.one-item-container .row1 .details-container .details .detail .listvalue {
  margin-left: -18px;
  list-style-type: none;
  direction: ltr;
}

.one-item-container .row1 .details-container .details .detail .listvalue li {
  font-size: 14pt;
}

@media not all and (min-width: 1000px) {
  .one-item-container .row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
  }
  .one-item-container .row1 .img-container {
    height: 65vh !important;
    padding-bottom: 30px;
  }
  .one-item-container .row1 .img-container img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .one-item-container .row1 .details-container {
    height: auto !important;
    padding-bottom: 30px;
  }
}

.one-item-container .row2 {
  width: 100% !important;
  height: auto !important;
  margin: 0;
  padding: 0;
}

.one-item-container .row2 .description-containrt {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  background: white;
}

.one-item-container .row2 .description-containrt .EnglishDescription {
  direction: ltr !important;
  padding: 20px 0px 0px 20px !important;
}

.one-item-container .row2 .description-containrt .title {
  font-family: yekan-sans-serif;
  font-size: 20pt;
  direction: rtl;
  padding: 20px 50px 0px 0px;
}

.one-item-container .row2 .description-containrt .description {
  width: 90% !important;
  height: 90% !important;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  padding: 30px 35px;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide .no-image {
  width: 100%;
  height: 100%;
  padding-top: 33%;
  color: white;
}

.mySwiper {
  height: 10%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  background: white;
  position: absolute;
  bottom: -11vh;
  background: rgba(37, 50, 55, 0.562);
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #253237;
}

.mySwiper .swiper-slide {
  margin: 0 auto !important;
  width: auto;
}

.mySwiper .swiper-slide img {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active img {
  opacity: 1;
}

.mySwiper2 {
  margin-top: 5vh;
  height: 80%;
  width: 100%;
}

.nobg {
  background: transparent !important;
}

.backgroundarea {
  width: 97%;
  height: 100%;
  margin: 12vh auto 5vh;
  padding-bottom: 10vh;
  border-radius: 15px;
  background: #4a6c61;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: relative;
}

.backgroundarea .pageName {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20vh;
  margin-bottom: -25px;
  padding: 10px;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.backgroundarea .pageName p {
  margin-left: 20px;
  font-family: yekan-sans-serif;
  font-size: 14pt;
  color: var(--on-primary-variant);
}

.catgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1000px) {
  .catgrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catgrid .textArea {
  margin-top: 13vh;
  height: 20vh;
  color: var(--on-primary-variant);
  padding: 0;
  margin-left: 30px;
  text-align: center;
  font-family: yekan-sans-serif;
}

.catgrid .textArea .title {
  font-size: 22pt;
}

.catgrid .textArea .text {
  font-size: 17pt;
}

.categoryList-container {
  height: auto;
  margin-top: 13vh;
  color: var(--on-primary-variant);
  direction: rtl;
  margin-right: -50px;
}

.categoryList-container .category_ul {
  list-style-type: none;
  line-height: 30px;
  position: relative;
}

.categoryList-container .category_li {
  padding: 10px 5px 0px 0px;
  position: relative;
}

.categoryList-container .category_li:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 20px;
  border-right: 1px dotted #a2a5b5;
  width: 1px;
  height: 100%;
}

.categoryList-container .category_li:after {
  content: "";
  position: absolute;
  border-top: 1px dotted #a2a5b5;
  top: 25px;
  right: 20px;
  width: 15px;
}

.categoryList-container .category_li:last-child:before {
  top: -0px;
  height: 25px;
}

.categoryList-container .category_li .inputAndLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 40px;
  padding-right: 10px;
  background: rgba(210, 213, 214, 0.3);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.categoryList-container .category_li .inputAndLabel .category_link {
  color: var(--on-primary-variant);
  font-family: yekan-sans-serif;
  font-size: 14pt;
}

.categoryList-container .category_li .inputAndLabel .category_link:hover {
  opacity: 0.5;
}

.userNavBarEn .navbar-brand {
  font-family: overcameBlack !important;
}

.userNavBarEn ul {
  text-transform: capitalize;
  font-family: sourceSansProLight !important;
  font-weight: 600 !important;
}

.userNavBar {
  margin-top: 8vh;
  padding: 0 5vw;
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 0;
}

@media all and (max-width: 750px) {
  .userNavBar {
    margin-top: 2vh;
  }
}

.userNavBar .menu-icon {
  cursor: pointer;
  color: white;
  margin-top: 1.7vh;
}

.userNavBar .navbar-brand {
  font-family: overcameBlack;
  letter-spacing: 1.75;
  color: white;
  font-size: 28px;
}

.userNavBar .NavLinkList a {
  color: white;
}

.userNavBar .NavLinkList a:hover {
  color: white;
  background: none;
  border-bottom: 1px solid oldlace;
  padding-bottom: 5px;
}

.notindex {
  margin-top: 0;
  background: #354f90;
}

.navBg {
  background: rgba(230, 230, 230, 0.3);
  margin-top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navBgBlack {
  background: rgba(52, 52, 52, 0.5);
}

.contactUsForm {
  direction: rtl;
  font-family: yekan-sans-serif;
  background: var(--contact-bg-light);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 10px 20px;
  margin: 10px 0 20px;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .contactUsForm {
    background: var(--contact-bg-dark);
    color: white !important;
  }
}

.contactUsForm label {
  font-size: 12pt;
}

.contactUsForm .title {
  text-align: center;
  font-size: 14pt;
  font-family: yekan-sans-serif;
}

.contactUsForm .text {
  height: 25vh;
}

.contactUsForm .submit {
  text-align: end;
}

.contactInfo {
  height: 100vh;
  direction: ltr;
  font-family: yekan-sans-serif;
  color: var(--heder-font-color-light) !important;
  background: var(--contact-bg-light);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 10px 20px;
  margin: 10px 0 40px;
}

@media all and (max-width: 500px) {
  .contactInfo {
    height: 75vh;
  }
}

@media (prefers-color-scheme: dark) {
  .contactInfo {
    background: var(--contact-bg-dark);
    color: white !important;
  }
}

.contactInfo .title {
  text-align: center;
  font-size: 14pt;
  background: transparent !important;
  font-family: yekan-sans-serif;
}

.contactInfo label {
  font-size: 12pt;
}

.contactInfo p {
  text-align: end;
  font-size: 14pt;
  background: rgba(128, 127, 127, 0.2);
  padding-right: 10px;
}

.contactEnglish {
  text-transform: capitalize;
  font-family: sourceSansProLight;
  direction: ltr !important;
}

.contactEnglish .title {
  text-transform: capitalize;
  font-family: sourceSansProLight;
}

.contactEnglish .submit {
  text-transform: capitalize;
}

.contactEnglish .submit .button5 {
  text-transform: capitalize !important;
  font-family: sourceSansProLight !important;
  font-size: 14pt !important;
  font-weight: 600 !important;
}

textarea:focus, input:focus {
  color: #161616;
  font-size: 12pt;
}

#backgroundImage {
  z-index: -5;
  position: fixed;
  top: -70vh;
  left: 0;
  width: 100%;
}

@media not all and (min-width: 1100px) {
  #backgroundImage {
    width: 1100px !important;
  }
}

.navbar {
  font-family: yekan-sans-serif;
  font-size: 14pt;
}

@media only all and (min-width: 770px) {
  .navbar .navbar-toggler {
    display: none !important;
  }
}

@media not all and (min-width: 770px) {
  .navbar .navbar-brand {
    margin-left: 2vw !important;
  }
}

.errormsg {
  margin: 0;
  padding: 2vh 5vw 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.preloader {
  position: fixed;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 20% !important;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}

.backgroundPicture {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 200vh;
  background: var(--main-bg-light);
  z-index: -10;
}

@media (prefers-color-scheme: dark) {
  .backgroundPicture {
    background: var(--main-bg-dark);
  }
}
/*# sourceMappingURL=guestPages.css.map */