// connected
.swiper {
    width: 100%;
    margin-top: 10vh !important;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    display:flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bd-highlight {
    height: 100% !important;
    width: 100% !important;
}
.swiper-slide img {
    height: 100% !important;
    display: block;
    margin:auto;
}
.swiper-slide video {
    height: 100% !important;
    display: block;
    margin:auto;
}



// navbar responsive
@media only all and (min-width: 770px) {
    .navbar-toggler {
        display: none !important;
    }
}
@media not all and (min-width: 770px) {
    .navbar-brand {
        margin-left: 2vw !important;
    }
}

// aboutus-short
.aboutus-short {
    position: relative;
    background-color: red;
    .aboutus-short-image {
        // image is in background
        height:100%;
        background-size: cover;
        height: 70vh;
        background-repeat: no-repeat;
        filter: blur(3px);
        
    }
    .aboutus-short-history_fa-container {
           position: absolute;
           top: 20%;
           right: 10%;
           left: 10%;
           direction:rtl;
           color:white !important;
    }
}