// connected
@import './aboutus/aboutus';
@import './aboutus/aboutus_big';
@import './managers/index';
@import './managers/show';
@import './swiper';
@import './footer';
@import './buttons/button1';
@import './buttons/button2';
@import './buttons/button3';
@import './buttons/button4';
@import './variables';
@import './global/Header';
@import './blogs/blogs';
@import './blogs/oneblog';
@import './gallery/gallery';
@import './items/itemIndex';
@import './items/fathers';
@import './items/oneItem';
@import './category/Category';

#backgroundImage{
    z-index: -5;
    position: fixed;
    top:-70vh;
    left: 0;
    width: 100%;
    @media not all and (min-width: 1100px) {
        width: 1100px !important;
    }
}

.navbar{
    font-family: yekan-sans-serif;
    font-size: 14pt;
    @media only all and (min-width: 770px) {
        // navbar responsive
        .navbar-toggler {
            display: none !important;
        }
    }
    @media not all and (min-width: 770px) {
        .navbar-brand {
            margin-left: 2vw !important;
        }
    }
}

// contactUsForm
.contactUsForm{
    direction: rtl;
    font-family: yekan-sans-serif;
    color:var(--on-primary-variant);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 10px 20px;
    margin: 10px 0 20px;
    height:100vh;
    label{
        font-size:14pt;   
    }
    .title{
        text-align: center;
        font-size:16pt;
    }
    .text{
        height:25vh;
    }
    .submit{
        text-align:end;
    }
    
}
// contact info
.contactInfo{
    height:auto;
    min-height: 100vh;
    direction: ltr;
    font-family: yekan-sans-serif;
    color:var(--on-primary-variant);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 10px 20px;
    margin: 10px 0 20px;
    .title{
        text-align: center;
        font-size:16pt;
        background: transparent !important;
    }
    label{
        font-size:14pt;   
    }
    p{
        text-align: end;
        font-size: 14pt;
        background:rgba(0, 0, 0, 0.4);
        padding-right: 10px;
    }
}

// error and success messages
.errormsg{
    margin: 0;
    padding: 2vh 5vw 1vh 0;
    display: flex;
    justify-content:flex-start;
    direction: rtl;
}

// footer



