.blogs-timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    color: var(--on-primary-color) !important;
    box-sizing: border-box;
    ul{
        margin:0;
        padding: 0;
        li{
            .bg-area{
                padding: 20px 40px;
                background: rgba(255, 255, 255, 1);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10.5px);
                -webkit-backdrop-filter: blur(10.5px);
                border: 1px solid rgba(255, 255, 255, 0.26);
                border-radius: 13px;
            }
            list-style: none;
            position: relative;
            width: 100%;
            padding: 20px 40px;
            box-sizing: border-box;
            float: left;
            text-align: right;
            clear: both;
            .time{
                position:absolute;
                bottom: 30px;
                left: 50px;
                background: rgba(233,33,99,1);
                color: #fff;
                padding: 5px 16px 0px;
                border-radius:25px;
                // box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
                h4{
                    font-size: 12pt;
                }
            }
        }
    }
    .content{
        padding-bottom: 20px;
        h3{
            font-family: yekan-sans-serif;
            color:rgba(233,33,99,1);
        }
    }
}

@media (min-width: 900px){
    .blogs-timeline{
        width: 100%;
    }
}
@media (max-width: 900px){
    .blogs-timeline{
        width: 100%;
    }
}

.allBlogs{
    ul{
        li{
            .bg-area{
                padding: 10px 20px;
                background: rgba(255, 255, 255, 1);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10.5px);
                -webkit-backdrop-filter: blur(10.5px);
                border: 1px solid rgba(255, 255, 255, 0.26);
                border-radius: 13px;
            }
        }
    }
}