.indexHeader {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
    @media only all and (min-width: 950px) {
        // curvy thing
        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            border-radius: 0 0 50% 50%/ 0 0 100% 100%;
            transform:scaleX(1.4);
            z-index: 1;
            background-color: var(--primary-color);
            background-image: linear-gradient(180deg, var(--primary-variant) 0%, var(--primary-color) 100%);
        }
    }
    @media only all and (max-width: 950px) and (min-width: 200px) {
        // curvy thing
        &::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            border-radius: 0 0 35% 35%/ 0 0 80% 10%;
            transform:scaleX(1.4);
            z-index: 1;
            background-color: #354f90;
            background-image: linear-gradient(180deg, #354f90 0%, #4969aa 100%);
        }
    }
    @media not all and (min-width: 750px) {
        height: 25vh !important;
    }
}

.CompanyNameIndex{
    padding-top: 26vh !important;
}
.CompanyName {
    position:relative;
    text-align:center;
    padding-top: 18vh;
    text-transform: capitalize;
    font-family: yekan-sans-serif;
    font-size: 80px;
    line-height: 1.75rem;
    z-index: 2;
    color: white;
    @media not all and (min-width: 750px) {
        font-size:32pt !important;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.CompanyDescription{
    position:relative;
    padding-top: 8vh;
    text-align:center;
    font-family: yekan-sans-serif;
    font-size: 24px;
    z-index: 2;
    color: white;
    @media not all and (min-width: 750px) {
        font-size:12pt !important;
        position: absolute;
        top: 170px;
        padding-left: 20px !important;
        padding-right: 20px !important;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.EnglishHeader{
    .CompanyName{
        font-family: Lato-regular !important;
        letter-spacing: 2px;
        line-height: 50px !important;
        font-size: 70px;
    }
    .CompanyDescription{
        font-family: Lato-regular !important;
        letter-spacing: 2px;
        font-size: 24px;
    }
}

.indexPageHeader{
    height: 100vh !important;
    @media all and (max-width: 750px) {
        height: 70vh !important;
    }

    @media all and (max-width: 500px) {
        height: 65vh !important;
    }
}